<section>
    <div class="container">
        <div class="row account-wall">
        
            <div class="col-sm-12">

                <h2>Edit Profile</h2>
                
                <%= simple_form_for(@user, html: { method: :put, class: "form-signin" }) do |f| %>
                  <%= f.error_notification %>

                  <div class="form-group">
                    <input type="name" value="<%= @user.name %>" name="user[name]" class="form-control" placeholder="Name" required autofocus>
                  </div>
                
                  <div class="form-group">
                    <input type="email" value="<%= @user.email %>" name="user[email]" class="form-control" placeholder="Email" required>
                </div>
                <div class="form-group">
                    <input type="password" name="user[password]" class="form-control" placeholder="Password" required>
                    <span class="hint">leave it blank if you don't want to change it</span><br>
                 </div>
                  <div class="form-group">
                    <input type="password" id="user_password_confirmation" name="user[password_confirmation]" placeholder="Password confirmation" class="form-control">
                 </div>
                 <div class="form-group">
                    <input type="password" id="user_current_password" name="user[current_password]" class="form-control" placeholder="Current password">
                    <span class="hint">we need your current password to confirm your changes</span><br>
                  </div>
                
                  <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Update</button>
                  </div>
                <% end %>
                
            <div class="col-sm-12 panel-footer">
                <h3>Cancel my account</h3>
                
                <p>Unhappy? <%= link_to "Cancel my account", registration_path(@user), data: { confirm: "Are you sure?" }, method: :delete %></p>
                
                <%= link_to 'Show', @user %>
            </div>
                
            </div>
        </div>
    </div>
</section>

<!--https://www.youtube.com/watch?v=s09NJvm6VCM-->