<header class="header-section section section-dark navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header navbar-left page-scroll" >
      <!-- RESPONSIVE MENU BUTTON -->
        <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <nav id="navigation" class="navbar-left">
          <%= link_to root_path, :class => 'navbar-brand' do %>
            <%= image_tag "dwbh.png" %>
            <span class="log-text">Lending Investors</span>
          <% end %>
        </nav> 
        <nav id="navigation" class="navigation navbar-collapse navbar-right collapse" aria-expanded="false" style="height: 81px; ">
           <p class="navbar-text"><span class="glyphicon glyphicon-time"></span> Mon-Sat 8:30am - 5:30pm</p>
           <p class="navbar-text"><span class="glyphicon glyphicon-phone-alt"></span> (032) 253-5407</p>
           <p class="navbar-text"><span class="glyphicon glyphicon-phone"></span> Globe 0917-634-6071, Sun 0922-827-0866</p>
        </nav> 
    </div>

    <nav id="navigation" class="navigation navbar-collapse navbar-right collapse" aria-expanded="false" style="height: 81px; ">
      <ul class="nav navbar-nav navbar-right nav-menu-padding-top">
        <!--<li class="page-scroll "><%= link_to 'Home', '/#header', class: "#{action_name == "home" ? "active" : nil}"  %></li>-->
        
        <li class="dropdown" role="presentation">
          <a aria-expanded="false" aria-haspopup="true" role="button" href="#" data-toggle="dropdown" class="dropdown-toggle">
            Loan Services<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Loan Products', '/#services' %></li>
            <li><%= link_to 'Monthly Amortization', amortization_path %></li>
          </ul>
        </li>
        
        <li class="page-scroll >"><%= link_to 'Loan Calculator',  "/#calculator", class: "#{action_name == "calculator" ? "active" : nil}"  %></li>
        <li class="page-scroll "><%= link_to 'Contact Us', contact_path, class: "#{action_name == "contact" ? "active" : nil}"  %></li>
        <li class="page-scroll "><%= link_to 'F.A.Q', faq_path, class: "#{action_name == "faq" ? "active" : nil}"  %></li>
            
        <% if user_signed_in? %>

          <li class="dropdown" role="presentation">
            <a aria-expanded="false" aria-haspopup="true" role="button" href="#" data-toggle="dropdown" class="dropdown-toggle">
              My Account<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Profile', current_user %></li>
              <li><%= link_to 'Loans', '#' %></li>
              <li class="divider" role="separator"></li>
              <li><%= link_to 'Sign Out', destroy_user_session_path %></li>
            </ul>
          </li>
          

        <% else %>
<!--          <li><%= link_to 'Sign Up', new_user_registration_path %></li>-->
          <li><%= link_to 'Sign In', new_user_session_path, class: "#{action_name == "new" ? "active" : nil}" %></li>
        <% end %>

      </ul>
    </nav>    

  </div>
</header>