<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="ft0kmV3FSVwO5tfwidz6HCZF3nojOmoIru6GLt7HiHg" />
    <meta property="fb:admins" content="100000251664444" />
	<meta name="copyright" content="2015 Copyright www.dwbhlending.com">
	<meta name="language" content="English">
	<meta name="Rating" content="General">
	<meta name="expires" content="never">
	<meta name="author" content="Author:dwbhlending.com">
	<meta name="email" content="Email: dwbh.marketing@gmail.com">
	<meta content="Need Fast Cash? We offer loans as low as 1.5% - 3% for Car, Home, Business, OFW, Salary, and other loan types. Lending in Cebu Philippines." name="description">
	<meta content="Cebu Lending, Cebu Financing, cebu quick loans, cebu fast loans, cash loans, lending company, lending companies, cebu lending company, easy loans, salary loan, ofw loan, lending, I want a loan, personal loans, personal loan online, instant loan, online loan application, collateral loan, cebu fast lending, loan cebu, non-collateral,Real Estate Mortgage, Chattel Mortgage, Car, Home, Business, OFW, Salary" name="keywords">
	
	<meta property="fb:app_id"             content="545268678973039"/>
	<meta property="og:url"                content="http://www.dwbhlending.com" />
	<meta property="og:type"               content="product.group" />
	<meta property="og:title"              content="Need an easy and fast Cash?" />
	<meta property="og:description"        content="DWBH lending Investors offer mainly Speedy and Easy secured loans from Car, Home, Business, OFW, Salary and other loan types in Cebu City." />
	<meta property="og:image"              content="http://www.dwbhlending.com/assets/feature1-b2e02b3ef6a08adbf6ec0ed7bb3b1d53189b84f461759f4edb78335e25d3966f.jpg" />

    <%= display_meta_tags :site => "DWBH Lending Investors | Real Estate Mortgage, Chattel Mortgage, Car, Home, Business, OFW, Salary etc.", :reverse => true %>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    <link href="assets/dwbh-icon-4131070134febfde4754720505abb0c828bdb78e430fccfc60244fc7cec3baa0.png" rel="shortcut icon">
  </head>
  <body>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=545268678973039";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>


     <%= render 'layouts/header' %>
  
    <%= yield %>
<!--
    <%= action_name %>
    <%= debug(params) if Rails.env.development? %>
-->
      <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<!--    <div class="scroll-top page-scroll visible-xs visble-sm">-->
        <a id="scrollUp" href="#top" style="position: fixed; z-index: 2147483647; display: block;"><i class="fa fa-angle-up"></i></a>
<!--    </div>-->
    <%= render 'layouts/footer' %>

     <%= javascript_include_tag "application" %>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    
    <%= yield :scripts %>
  </body>

    <script type="text/javascript">
      // start accrue.js
    (function($){

        $(document).ready(function(){

          // set up normal loan calculation
          //$(".calculator-box").accrue();

        });
      
	/***************** Nav Transformicon ******************/

	/* When user clicks the Icon */
	$('.nav-toggle').click(function() {
		$(this).toggleClass('active');
		$('.header-nav').toggleClass('open');
		event.preventDefault();
	});
	/* When user clicks a link */
	$('.header-nav li a').click(function() {
		$('.nav-toggle').toggleClass('active');
		$('.header-nav').toggleClass('open');

	});

	/***************** Header BG Scroll ******************/

	$(function() {
		$(window).scroll(function() {
			var scroll = $(window).scrollTop();

			if (scroll >= 20) {
				// $('section.navigation').addClass('fixed');
				// $('header').css({
				// 	"border-bottom": "none",
				// 	"padding": "20px 0"
				// });
				// $('header .member-actions').css({
				// 	"top": "26px",
				// });
				// $('header .navicon').css({
				// 	"top": "34px",
				// });
			} else {
				$('section.navigation').removeClass('fixed');
				$('header').css({
					"border-bottom": "solid 1px rgba(255, 255, 255, 0.2)",
					"padding": "0"
				});
				$('header .member-actions').css({
					"top": "41px",
				});
				$('header .navicon').css({
					"top": "48px",
				});
			}
		});
	});
	/***************** Smooth Scrolling ******************/

	$(function() {

		$('a[href*=#]:not([href=#])').click(function() {
			if (location.pathname.replace(/^\//, '') === this.pathname.replace(/^\//, '') && location.hostname === this.hostname) {

				var target = $(this.hash);
				target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
				if (target.length) {
					$('html,body').animate({
						scrollTop: target.offset().top
					}, 2000);
					return false;
				}
			}
		});

	});
      
    $("[rel='tooltip']").tooltip();    
 
    $('.product-thumbnail').hover(
        function(){
            $(this).find('.caption').slideDown(100); //.fadeIn(250)
        },
        function(){
            $(this).find('.caption').slideUp(100); //.fadeOut(205)
        }
    ); 
      
      $('#myTabs a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
      })
        
     })(jQuery); 
      
      


  </script>
  
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
	  ga('create', 'UA-70607284-1', 'auto');
	  ga('send', 'pageview');
	
	</script>
 
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
 
 <script>
      $(document).ready(function() {
          $("#slider").slider({
              range: "min",
              animate: true,
              value:1,
              min: 5000,
              max: 1000000,
              step: 10,
              slide: function(event, ui) {
                update(1,ui.value); //changed
              }
          });

          $("#slider2").slider({
              range: "min",
              animate: true,
              value:1,
              min: 1,
              max: 48,
              step: 1,
              slide: function(event, ui) {
                update(2,ui.value); //changed
              }
          });
          

          //Added, set initial value.
          $("#amount").val(5000);
          $("#duration").val(1);
          $("#amount-label").text(5000);
          $("#duration-label").text(1);
          
          $('#myForm input').on('change', function() {
			   update(); 
			});

         
          update();
      });

          $('#myFormResult input').on('keyup', function() {
               $( "#amount" ).val($("#amount").val());
               $( "#duration" ).val($("#duration").val());
			   update(); 
			});
         
      //changed. now with parameter
      function update(slider,val) {
        //changed. Now, directly take value from ui.value. if not set (initial, will use current value.)
        var $amount = slider == 1?val:$("#amount").val();
        var $duration = slider == 2?val:$("#duration").val();
        var $interest = $('input[name=interest]:checked', '#myForm').val() == undefined ? $("#interest").val() : $('input[name=interest]:checked', '#myForm').val();

        /* commented
        $amount = $( "#slider" ).slider( "value" );
        $duration = $( "#slider2" ).slider( "value" );
         */
         
         $interest_amount = (parseInt($amount)+((parseInt($amount) * parseFloat($interest))*$duration));
         $interest_amount_total = "₱" + Math.round($interest_amount/$duration).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
         
         //$total = "P" + ($amount * $duration);
         $( "#amount" ).val(parseFloat($amount));
         $( "#amount-label" ).text($amount);
         $( "#duration" ).val($duration);
         $( "#duration-label" ).text($duration);
         $( "#total" ).val($interest_amount_total);
         $( "#total-label" ).text($interest_amount_total);

         $('#slider a').html('<label><span class="glyphicon glyphicon-chevron-left"></span> '+$amount+' <span class="glyphicon glyphicon-chevron-right"></span></label>');
         $('#slider2 a').html('<label><span class="glyphicon glyphicon-chevron-left"></span> '+$duration+' <span class="glyphicon glyphicon-chevron-right"></span></label>');

      }

    </script>

    <script>
        $(document).ready(function() {
          var div = document.createElement('div');
          div.className = 'fb-customerchat';
          div.setAttribute('page_id', '100165668043309');
          div.setAttribute('ref', 'b64:bGl2ZS1jaGF0');
          document.body.appendChild(div);
          window.fbMessengerPlugins = window.fbMessengerPlugins || {
            init: function () {
              FB.init({
                appId            : '1678638095724206',
                autoLogAppEvents : true,
                xfbml            : true,
                version          : 'v3.0'
              });
            }, callable: []
          };
          window.fbAsyncInit = window.fbAsyncInit || function () {
            window.fbMessengerPlugins.callable.forEach(function (item) { item(); });
            window.fbMessengerPlugins.init();
          };
          setTimeout(function () {
            (function (d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) { return; }
              js = d.createElement(s);
              js.id = id;
              js.src = "//connect.facebook.net/en_US/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
          }, 0);
        });
    </script>

</html>