<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="fb:admins" content="100000251664444" />
    <%= display_meta_tags :site => ENV['title'], :reverse => true %>
    <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' 
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= csrf_meta_tags %>
    
    <style>
    
    </style>
  </head>
  <body>
    <div class="container-fluid">
    <%= render 'layouts/header' %>
      <%= render 'shared/flash_messages' %>
      <%= yield %>
<!--      <%= debug(params) if Rails.env.development? %>-->
    </div>
      <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <a id="scrollUp" href="#top" style="position: fixed; z-index: 2147483647; display: block;"><i class="fa fa-angle-up"></i></a>

  </body>
  	
</html>